/**************************************GENERAL**************************************/
* { 
    margin: 0; 
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

body, html { 
    height:100%; 
    max-width: 1640px;
    margin: 0 auto;
}

a {
    color: #AAAAAA;
}

button {
    font-size: 14pt;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 30px;
    margin-bottom: 5px;
    min-width: 140px;
}

button:hover {
    background-color: #DDDDDD;
    border: 2px solid black;
}

button:active {
    background-color: #AAAAAA;
    border: 2px solid black;
}

/**************************************SCROLL**************************************/

.scrollbar
{
	float: left;
	background: #F5F5F5;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}


#style-3::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #8AC48A;
}

/**************************************HEADER**************************************/

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/**************************************ABOUT**************************************/

.right-about, .left-about {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.right-about button {
    margin-top: 30px;
}

/**************************************CANVAS**************************************/

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:90%;
    -webkit-box-shadow: 0px 7px 27px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 7px 27px 2px rgba(0,0,0,0.24);
    box-shadow: 0px 7px 27px 2px rgba(0,0,0,0.24);
}

/**************************************CONTROLS**************************************/

.controls {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

/**************************************MEDIA QUERIES**************************************/

@media only screen and (min-width: 500px) {
    .about-theme {
        width: 50% !important;
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 400px) {
    .help-text {
        font-size: 11px;
    }
}